<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Nigerian Studies in Economics and Management Science" />
  <meta name="keywords" content="Economics, Science, Management, Research, Analysis, Conference, Academics" />
  <link rel="icon" type="image/x-icon" href="../assets/favicon.ico" />
  <link rel="stylesheet" href="../assets/css/main.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap" rel="stylesheet" />
  <link rel="manifest" href="site.webmanifest" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" />
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <script defer src="../assets/js/main.js"></script>
  <title>Codenovation</title>
</head>

<body>
  @!section('header')
  @!section('main')
  @!section('footer')

  <script src="https://cdnjs.cloudflare.com/ajax/libs/TypewriterJS/2.13.1/core.min.js"></script>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  
</body>

</html>